body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#cd47ae, #958fe1) no-repeat border-box, radial-gradient(#91a0af, #1dd04e) no-repeat border-box;
}
#calculator{
  margin: 10px;
  height: 90%;
  aspect-ratio: 2/3;
  border-radius: 10px;
  min-height: 400px;
  min-width: 320px;
  font-family: 'Consolas', monospace;
}
#calculator > *, #keyboard > *{
  width: 100%;
  padding: 0;
  margin: 0;
}
#operators, #operators > div{height: 100%;}
#screen{
  overflow-y: hidden;
  text-align: right;
  background-color: transparent;
  color: white;
  font-size: calc(1em + 9vh);
  cursor: default;
  border: none;
  border-radius: 10px 10px 0 0;
  white-space: nowrap;
  scrollbar-color: #958fe1 transparent;
  vertical-align: middle;
}
#screen:focus{outline: none;}
#keyboard{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(180px) saturate(80px);
}
#keyboard, #panel{height: 80%;}
#screen, #tools{height: 20%;}
#numbers{padding: 0;}
#numbers > *, #operators > *{height: 25%;}
button{
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: calc(1em + 0.5vh) !important;
}
button:hover{
  backdrop-filter: saturate(1000px);
}