body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}
#calculator{
  margin: 10px;
  height: 80%;
  aspect-ratio: 2/3;
  border-radius: 10px;
  font-family: 'Consolas', monospace;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  /*backdrop-filter: blur(180%);
  -webkit-backdrop-filter: blur(180%);*/
  min-height: 250px;
  min-width: 150px;
}
#calculator > *, #tools, #panels, .carousel-inner{
  padding: 0;
  margin: 0;
}
#calculator > *, #tools{width: 100%;}
#operators > button{height: 25%;}
.carousel-item, .panel, .panel > div{height: 100%;}
#screen{
  overflow-y: hidden;
  text-align: right;
  background-color: transparent;
  font-size: calc(1em + 9vh);
  cursor: default;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px 10px 0 0;
  scrollbar-color: white transparent;
  color: white;
}
#screen:focus{outline: none;}
#keyboard, #panels{height: 80%;}
#panels, .carousel-indicators{margin: 0 !important;}
.carousel-item{transition: none !important;}
.carousel-indicators{
  list-style-type: none;
  height: 8%;
}
.carousel-indicators > li{
  aspect-ratio: 1 !important;
  width: 30%;
}
.carousel-inner{height: 92%;}
#screen, #tools{height: 20%;}
.panel > div{padding: 0;}
.panel > div > *{height: 25%;}
button{
  width: 100%;
  border: none;
  font-size: calc(0.5em + 3vh) !important;
  color: white;
}
.transparent{background-color: transparent;}
.transparent:hover{background-color: rgba(255, 255, 255, 0.1);}